 :root{
    --color1: rgb(175, 27, 131);
 }

 button{
    display:flex;
    justify-content: center;
    background-color:var(--color1);
    border-color: aliceblue;
    margin-left: 40%;
}
button:hover{
    transform: scale(1.2);
    background-color: aliceblue;
    color: var(--color1) ;
    border-color: var(--color1);
    font-weight: 500;
}
h1{
    color: var(--color1) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
}

input[type="text"]:focus {
    border-color: var(--color1);
    outline: none;
    box-shadow: 0 0 8px rgba(129, 42, 141, 0.37);
}
.div1{
    color: white;
    background-image: url("src/assets/istockphoto-1597022683-612x612.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}
p{
    font-size: 17px;
}
.div2{
    display: flex;
    justify-content: space-between;
}
h3{
    padding-top: 5%;
}
.div1 .div2{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}
h6{
    padding-left: 5%;
}
