<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Weather App</h1>
      <br><br>
      <form (ngSubmit)="getWeather()">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="city" name="city" placeholder="Enter city" required>
        </div> 
        <br><br>
        <button type="submit" class="btn btn-primary btn-block">Get Weather</button>
      </form>
      <br>
      <div *ngIf="weather" class="div1">
        <h3 class="mt-4 text-center">{{ weather?.location?.name }}</h3>
        <h6>Region: {{ weather?.location?.region}} </h6>
        <br>
        <div class="div2">
        <div class="div3">
        <p>Temperature: {{ weather?.current?.temp_c }} °C</p>
        <p>Humidity: {{ weather?.current?.humidity }} %</p>
        <p>Description: {{ weather?.current?.condition?.text }}</p>
        <p>Wind Speed: {{ weather?.current?.wind_kph }} kph</p>
      </div>
      <div class="div4">
        <p>Feels Like: {{ weather?.current?.feelslike_c }} °C</p>
        <p>Pressure: {{ weather?.current?.pressure_mb }} mb</p>
        <p>Visibility: {{ weather?.current?.vis_km }} km</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
